@using WebUI.Shared

<nav>
    <ul class="main-menu">
        <li><a href="#">New Balance</a></li>
        <li><a href="#">Asics</a></li>
        <li><a href="#">Converse</a></li>
        <li><a href="#">Sale</a></li>
    </ul>
</nav>

@code {
    // Main menu logic here
}